/* html-export.css is loaded before this one, we have to undo some of
   the changes it makes. */
body {
  max-width: none;
}

code {
  /* Required, otherwise the bottom of characters are cut off */
  background-color: initial;
  color: currentcolor;
}

/** End of fixing changes made by html-export.css */

/* Left align slide content, instead of centered. */
.reveal p {
  text-align: left;
}

/* No all-caps titles */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

/** Auto line numbering */
pre.src, pre.example {
  counter-reset: line var(--data-ox-src-line-start);
  background-color: #3f3f3f;
  margin: 2em auto;
  padding: 0.5em;
  border-radius: .25em;
}

/* Hide the line numbers embedded in the file */
span.linenr {
  display: none;
}

.reveal pre code {
  display: inline;
  font-size: 140%; /* 40px; */ /* 125%; */
  line-height: 1.2;
}

/* Smaller fonts in two column layouts, otherwise text generally
   doesn't fit */
.reveal div.leftcol pre code, .reveal div.rightcol pre code {
  font-size: 125%;
}

.reveal section.smaller pre code {
  font-size: 110%;
}
.reveal div.leftcol pre, .reveal div.rightcol pre {
  min-width: 0;
}

.reveal pre.src code {
  counter-increment: line;
}

.reveal pre.line-number code:before {
  content: counter(line);
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  width: 1em;
  display: inline-block;
  text-align: right;
}

/** Styles for left and right columns. */
div.leftcol {
  margin-left: 5%;
  float: left;
  width: 45%;
}

div.rightcol {
  margin-right: 5%;
  float: right;
  width: 45%;
}

/** Hide TODO / DONE entries from headings. */
span.done, span.todo {
  display: none;
}

/**
 * Disable section numbers.
 *
 * Disabling them with the option num:nil also disables generating
 * stable slide IDs, which is a pain when editing content, so it's
 * better to hide them here.
 */
span[class|=section-number] {
  display: none;
}

/** Language badges */
/* class="src src-html" <-- actual */
/* preferred: class="badge-lang" data-badge-lang="JS" */
.src:after {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 100%;
  background: green;
  color: white;
  text-align: center;
  line-height: 24px;
  border-radius: .25em;
  padding: 0 0.5em;
  box-shadow: 0 0 1px #333;
}

.src-html:after, .src-html-chrome:after {
  content: "HTML";
}

.src-javascript:after {
  content: "Javascript";
}

.src-css:after {
  content: "CSS";
}

.src-shell:after {
  content: "Shell";
}

.src-sh:after {
  content: "Shell";
}

/** Code blocks in list items get a grey background. */
/** Ditto for in table cells */
/** And paras (e.g., in center blocks) */
li code, p code, td code {
  background-color: #3f3f3f;
  padding: 0 .25em !important;
  border-radius: .25em;
}

/* So do Font Awesome buttons */
i.fab {
  background-color: #3f3f3f;
  padding: 0 .25em !important;
  border-radius: .25em;
}

/* So do headings */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: #3f3f3f;
  padding: 0 .25em !important;
  border-radius: .25em;
}

/** Centre SVG diagrams. */
div.figure p {
  text-align: center;
}

/** #+BEGIN_CENTER blocks get centered... */
div.org-center {
  display: inline-block;
  margin: 0 auto;
}

/** asciitosvg SVG */
svg > text {
  fill: #eee8d5 !important;
}

/** Make slies a bit taller */
.slides {
  height: 900px !important;
}


/** Improve table styling */
/* More space at the bottom */
.reveal table {
  margin-bottom: 1em;
}

.reveal table td {
  border: none;
}

.reveal blockquote {
  padding: 1em 2em;
  max-width: 35%;
}

.reveal .leftcol blockquote {
  max-width: 90%;
}

.reveal .rightcol blockquote {
  max-width: 90%;
}

.reveal blockquote.bad:after, .reveal blockquote.good:after {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 70%;
  background: green;
  color: white;
  text-align: center;
  line-height: 42px;
  border-radius: .25em;
  padding: 0 0.5em;
  box-shadow: 0 0 1px #333;
}

.reveal blockquote.bad:after {
  background: red;
  content: "\2718";
}

.reveal blockquote.good:after {
  content: "\2714";
}

/** Try a bit more spacing between list items */
.reveal ul li {
  margin-bottom: .4em;
}

/** No borders around images */
.reveal div.figure p img {
  border: none;
  max-height: 75vh;
}

.reveal div.org-src-container pre {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  min-width: 60em;
  padding-right: 2em;
}

div.leftcol pre.src, div.rightcol pre.src {
  /* min-width: 30em; */
  min-width: 80%;
}

/** Keep heading size the same regardless of level */
.reveal h3, .reveal h4, .reveal h5 {
  font-size: 2.11em;
}

/* Apply HTML_CONTAINER_CLASS property, value = no-heading */
section.no-heading h2, section.no-heading h3 {
  display: none;
}

.reveal div.slide-header {
  position: fixed;
  left: 2em;
  top: -1em;
  color: rgba(238, 232, 213, .5);
  font-size: 70%;
  font-variant: small-caps;
}

